<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sjxy.overdue.dao.SecretaryMapper" >
  <resultMap id="BaseResultMap" type="cn.sjxy.overdue.pojo.Secretary" >
    <id column="sec_id" property="secId" jdbcType="INTEGER" />
    <result column="sec_name" property="secName" jdbcType="VARCHAR" />
    <result column="sec_password" property="secPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sec_id, sec_name, sec_password
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.sjxy.overdue.pojo.SecretaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from secretary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from secretary
    where sec_id = #{secId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from secretary
    where sec_id = #{secId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.sjxy.overdue.pojo.SecretaryExample" >
    delete from secretary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.sjxy.overdue.pojo.Secretary" >
    insert into secretary (sec_id, sec_name, sec_password
      )
    values (#{secId,jdbcType=INTEGER}, #{secName,jdbcType=VARCHAR}, #{secPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.sjxy.overdue.pojo.Secretary" >
    insert into secretary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        sec_id,
      </if>
      <if test="secName != null" >
        sec_name,
      </if>
      <if test="secPassword != null" >
        sec_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secId != null" >
        #{secId,jdbcType=INTEGER},
      </if>
      <if test="secName != null" >
        #{secName,jdbcType=VARCHAR},
      </if>
      <if test="secPassword != null" >
        #{secPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.sjxy.overdue.pojo.SecretaryExample" resultType="java.lang.Integer" >
    select count(*) from secretary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update secretary
    <set >
      <if test="record.secId != null" >
        sec_id = #{record.secId,jdbcType=INTEGER},
      </if>
      <if test="record.secName != null" >
        sec_name = #{record.secName,jdbcType=VARCHAR},
      </if>
      <if test="record.secPassword != null" >
        sec_password = #{record.secPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update secretary
    set sec_id = #{record.secId,jdbcType=INTEGER},
      sec_name = #{record.secName,jdbcType=VARCHAR},
      sec_password = #{record.secPassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sjxy.overdue.pojo.Secretary" >
    update secretary
    <set >
      <if test="secName != null" >
        sec_name = #{secName,jdbcType=VARCHAR},
      </if>
      <if test="secPassword != null" >
        sec_password = #{secPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where sec_id = #{secId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sjxy.overdue.pojo.Secretary" >
    update secretary
    set sec_name = #{secName,jdbcType=VARCHAR},
      sec_password = #{secPassword,jdbcType=VARCHAR}
    where sec_id = #{secId,jdbcType=INTEGER}
  </update>
</mapper>