<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/service/uploadService.js"></script>
    <script type="text/javascript" src="../js/controller/uploadController.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="overdue" ng-init="findAllFile()"
      ng-controller="uploadController">

<div class="box-header with-border" style="text-align: center;">
    <h3 class="box-title" style="font-size: 22px;font-family: 黑体;color: black;">
        [ <span style="font-weight: bold;color: red">{{name}}</span> ]老师文件资源管理</h3>
</div>
<div class="box-body" style="text-align: center">
    <div class="btn-group">
        <button type="button" class="btn btn-default" title="删除" ng-click="deleMultiFile();findAllFile()"><i
                class="fa fa-trash-o"></i> 批量删除
        </button>
        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                class="fa fa-refresh"></i> 刷新
        </button>
        <button type="button" class="btn btn-default">
            <a href="comments.html" style="color: black">点击跳转到留言界面</a>
        </button>
    </div>
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="" style="padding-right:0px">
                <input id="selall" type="checkbox" class="icheckbox_square-blue" ng-click="selectAllCheck($event)">
            </th>
            <th class="sorting" style="text-align: center">文件名称</th>
            <th class="sorting" style="text-align: center">上传时间</th>
            <th class="sorting" style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entity in fileList">
            <td><input type="checkbox" ng-click="updateSelection($event,entity.fId)" ng-checked="flag"></td>
            <td>{{entity.fRealname}}</td>
            <td>{{entity.fUptime}}</td>
            <td>
                <button type="button" ng-click="deleteFileById(entity.fId)">
                    删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
